<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form action="">
        <h1 class="titulo">CADDIE CRM</h1>
        <h2 class="subtitulo">Hitting the target everyday</h2>

        <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}"  class="input-form"  type="text" placeholder="Digite seu nome de usuário">

        <app-button textButton="Acessar" size="100" (click) = "login()"></app-button>
    </form>

    <p class="footer"> © 2024 | Desenvolvidor por Caddie It Solutions</p>
</div>
